In [9]:
import numpy as np 
import pandas as pd

In [10]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [11]:
#def calculate_demographic_data(print_data=True):
df = pd.read_csv("C:/Users/ACER/Downloads/adult.csv.zip")

In [12]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [13]:
race_count = df["race"].value_counts()
print("Number of each race:\n", race_count)

Number of each race:
 White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: race, dtype: int64

In [14]:
average_age_men = round(df.loc[df["gender"] == "Male", "age"].mean(), 1)
print("Average age of men:", average_age_men)

Average age of men: 39.5

In [15]:
percentage_bachelors = round(len(df[df["education"] == "Bachelors"]) / len(df) * 100, 1)
print("Percentage with Bachelors degrees:",percentage_bachelors,"%")

Percentage with Bachelors degrees: 16.4 %

In [16]:
higher_education = df[df["education"].isin(["Bachelors", "Masters", "Doctorate"])]

In [17]:
higher_education_rich = round(higher_education[higher_education["income"] == ">50K"].size / higher_education.size * 100, 1)
print("Percentage with higher education that earn >50K:",higher_education_rich,"%")

Percentage with higher education that earn >50K: 46.1 %

In [18]:
lower_education = df[~df["education"].isin(["Bachelors", "Masters", "Doctorate"])]

In [19]:
lower_education_rich = round(lower_education[lower_education["income"] == ">50K"].size / lower_education.size * 100, 1)
print("Percentage without higher education that earn >50K:",lower_education_rich,"%")

Percentage without higher education that earn >50K: 17.3 %

In [20]:
min_work_hours = df["hours-per-week"].min()
print("Min work time:",min_work_hours,"hours/week")

Min work time: 1 hours/week

In [21]:
num_min_workers = df[df["hours-per-week"] == min_work_hours]

In [22]:
rich_percentage = round(num_min_workers[num_min_workers['income'] == '>50K'].size / num_min_workers.size * 100, 1)
print("Percentage of rich among those who work fewest hours:", rich_percentage,"%")

Percentage of rich among those who work fewest hours: 11.1 %

In [23]:
countries_50K = df[df["income"] == ">50K"]["native-country"].value_counts() / df["native-country"].value_counts() * 100

highest_earning_country = countries_50K.idxmax()
highest_earning_country_percentage = round(countries_50K.max(), 1)

In [31]:
print("Country with highest percentage of rich:",highest_earning_country)
print("Highest percentage of rich people in country:", highest_earning_country_percentage,"%")

Country with highest percentage of rich: France
Highest percentage of rich people in country: 42.1 %

In [32]:
top_IN_occupation = (df[(df["native-country"] == "Canada")& (df["income"] == ">50K")]["occupation"].value_counts().idxmax())
print("Top occupations in Canada:", top_IN_occupation)

Top occupations in Canada: Prof-specialty